@font-face {
  font-family: Muller;
  font-weight: 400;
  src: url('/fonts/muller/MullerRegular.ttf');
}

@font-face {
  font-family: Muller;
  font-weight: 500;
  src: url('/fonts/muller/MullerMedium.ttf');
}

@font-face {
  font-family: Muller;
  font-weight: 700;
  src: url('/fonts/muller/MullerBold.ttf');
}

@font-face {
  font-family: Muller;
  font-weight: 800;
  src: url('/fonts/muller/MullerExtraBold.ttf');
}
