@import './variables.css';
@import './fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 3vw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1024px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--color-black-soft);
  background: var(--color-background);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
  color: var(--color-black-soft);
}

input::placeholder {
  color: var(--color-secondary-accent);
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary-accent);
  transition: color 0.3s;
}

a:hover {
  color: var(--color-primary-accent);
}
